{{ define "main" }}

<p class="home-p"> <span class="playfair">Outwin</span> is the personal blog of Asad Advik. This blog is the intersection of <strong>philosophy, physics, and psychology.</strong> <p>


<h3 class="styleTitle">Latest Articles</h3>
{{- range where .Site.RegularPages "Type" "p" -}}
<p style="margin-bottom: 20px">
    <h4><a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
    <p class="post-summary">{{ .Summary }}</p>
</p>

{{ end }}

{{ partial "subscribe.html"}}

{{ end }}