{{ define "main" }}

<p class="home-p"> <strong>Outwin</strong> is the personal blog of Asad Advik. This blog is the intersection of <strong>philosophy, physics, and psychology.</strong> <p>


<h3 style="color:#d23669;margin-bottom: 0;">Latest Articles</h3>
{{- range where .Site.RegularPages "Type" "p" -}}
    <h4><a class="post-title-list" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
    <!-- <p class="post-summary">{{ .Summary }}</p> -->

{{ end }}
<br>
{{ partial "subscribe.html"}}

{{ end }}