@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500;1,700&display=swap');

::selection {
    color: #000;
    background: #FFBCD9
  }

a {
    text-decoration: none;
    color:#d23669;
}
a:hover{
    color: black;
}
.home-p{
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}



.playfair{
    font-family: 'Playfair Display';
    text-decoration: underline;
    text-decoration-color:#d23669;
}

/* ********* */
/* NAVBAR */
/* ******** */

.navbar-brand{
    font-weight: 700;
    font-style: italic;
    font-size: 28px;
    /* color: #d23669 !important; */
    font-family: "Playfair Display";
    text-decoration:underline;
    text-decoration-color: #d23669;
    padding: 0;
}


.navbar-toggler{
    border: none !important;
    outline: none;
}
.navbar-toggler:focus, .navbar-toggler:active{
    outline:  none !important;
    color: transparent;
}






h1, h2, h3, h4, h5 {
    font-weight: 700;
    line-height: 1.25em;
}

.container{
    max-width: 760px;
}


.styleTitle{
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    text-decoration: underline;
    font-family: "Playfair Display";
}

.post-title{
    color: black;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.2em;
    font-size: calc(28px + (36 - 28) * ((100vw - 300px) / (1600 - 300)));

}
.post-title:hover{
color: black;
}

.post-title-list > a{
    text-decoration: none;
    color: black;
    font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
    margin: 0;
    font-weight: 500;
    display: inline;
}

.post-title-list{
    margin: 0;
}
.post-home{
    margin-bottom: 10px;
}

.post-title-list:hover{
    color: black;
}

.post-list-wrapper{
    margin: 0;
}

.fimage-home{
    height: 200px;
    width: auto;
}

.post-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.post-author{
    font-size: 17px;
    color: #222;
    font-weight: 300;
}
.post-date{
    color: #767676;
    font-size: 14px;
    font-weight: 300;
}
.post-summary{
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
    color: #555;
}
.post-description{
    font-size: calc(18px + (19 - 18) * ((100vw - 300px) / (1600 - 300)));
    color: #767676;
}

.post-content{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1a1a1a;
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1680 - 320)));

}
.post-content>a {
    border-bottom: 1px solid #d23669 !important;
}

.meta{
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-title-archive{
    color: black;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.2em;
    font-size: calc(24px + (28 - 24) * ((100vw - 300px) / (1600 - 300)));
}
.post-title-archive:hover{
    color: black;
}


.post-card-archive{
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}







body.dark-mode, 
body.dark-mode main * {
    background: #282c35;
    color: #f5f5f5;
}
body.dark-mode .navbar-brand{
        color: white!important;
    }
body.dark-mode .post-title {
    color: white;
}
body.dark-mode .post-content{
    color: #eee;
}
body.dark-mode .post-author{
    color: #eee;
}
body.dark-mode .post-title-list > a{
    color: white;
}

body.dark-mode a.nav-link{
    color: #ddd !important;
}


/* ******************************************************************* */
