
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@300;400;700&display=swap');
body{
    font-family: 'Inter', sans-serif;
    font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.2em;

}

.navbar{
    border-bottom: 1px solid #ddd;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-weight: 700;
}

.container{
    max-width: 760px;
}
.styleTitle{
    font-family: 'Crimson Pro';
    font-weight: 400;
    font-style: italic;
    font-size: 32px;
    text-decoration: underline;
}

.post-title{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.post-title:hover{
color: black;
}

.fimage-home{
    height: 200px;
    width: auto;
}

.post-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.post-author{
    font-size: 17px;
    color: #222;
    font-weight: 300;
}
.post-date{
    color: #999;
    font-size: 14px;
    font-weight: 300;
}
.post-summary{
    font-family: 'Inter';
    font-size: 16px !important;
    color: #666;
}

.post-content{
    font-family: 'Crimson Pro';
}

.meta{
    margin-top: 15px;
    margin-bottom: 15px;
}




/* 
@media (prefers-color-scheme: dark) {
    body {
      background-color: #333;
      color: white;
    }
  }
  @media (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }
  } */